<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css" />
    <link rel="stylesheet" href="https://www.w3schools.com/lib/w3-theme-blue-grey.css"/>
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Open+Sans"/>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css"/>
    <style>
      html, body, h1, h2, h3, h4, h5 {font-family: "Open Sans", sans-serif}
    </style>
    <title>Enthusiast</title>
  </head>
  <body>
    <div class="w3-top">
      <div class="w3-bar w3-theme-d2 w3-left-align w3-large">
        <a href="/" class="w3-bar-item w3-button w3-padding-large w3-theme-pink"><i class="fa fa-home w3-margin-right"></i>Home</a>
        <a href="/dashboard" class="w3-bar-item w3-button w3-padding-large w3-them-pink"><i class='fas fa-desktop'>Dashboard</i></a>
        <a href="/login" class="w3-bar-item w3-button w3-padding-large w3-them-pink">Login</a>
        <button class="w3-bar-item w3-button w3-padding-large w3-them-pink">Logout</button> 
      </div>
    </div>
    {{body}}
  </body>
</html>