<div class="card my-3">
  <h2 class="card-header form-title">Create New Post</h2>
  <div class="card-body form-bg-custom">
    <div class="form-group col-md-4">
        </div>
    <form id="new-post-form" name="new-post-form" method="POST" action="/api/posts" enctype="multipart/form-data">
      <div class="form-group">
          <h4 style="color: #218380">Upload Image</h4>
          <input type="file" name="image">
          <textarea
            class="form-control"
            rows="5"
            id="post-text"
            name="post_text"
          ></textarea>
           <label for="interestInput">
           <h4 style="color: #218380">Assign Interest</h4>
          </label>
           <select class="form-control" id="interest-signup" name="interest">
            <option selected>Choose...</option>
            <option value="1">Music</option>
            <option value="2">Travel</option>
            <option value="3">Sports</option>
            <option value="4">Fashion</option>
            <option value="5">Tech</option>
            <option value="6">Food</option>
          </select>
      </div>
      <button type="submit" class="btn btn-custom" value="Upload">Submit Post</button>
  </div>
</div>

{{#if posts.length}}
 <section>
    <h2 class="section-title">Your Posts</h2>
    <div>
      {{#each posts as |post|}}
        <li>
          <a href="/post/{{id}}"><div class="card mt-2">
            <div class="card-header form-title"></div>
            <div class="card-body form-bg-custom">
           {{> post-info post}}
            <button class="btn" id="edit-post-btn">
              <a href="/dashboard/edit/{{id}}">Edit Post</a>            
            </button>
            </div>
            </div>
          </a>
        </li>
      {{/each}}
    </div>
  </section>
{{/if}}

<script src="/javascript/add-post.js"></script>