<section class="post-list">
    <h2 class="section-title mt-1">Stuff You'll Love</h2>
    {{#each posts as |post|}}
        <li>
            <a href="/post/{{id}}">
                <div class="card mt-2">
                    <div class="card-header form-title"></div>
                    <div class="card-body form-bg-custom">
                    {{> post-info post }}
                    </div>
                </div>
            </a>    
        </li>
    {{/each}}
</section>