<div class="flex-row">
<div class="card">
<form class="login-form user-form card-body">
  <div>
    <label for="username-login" class="form-label">username:</label>
    <input type="text" class="form-input" id="username-login" />
  </div>
  <div>
    <label for="password-login">password:</label>
    <input type="password" class="form-input" id="password-login" />
  </div>
  <div>
    <button type="submit" class="btn">login</button>
  </div>
</form>
</div>

<div class="card">
<form class="signup-form user-form card-body">
  <div>
    <label for="username-signup" class="form-label">username:</label>
    <input type="text" class="form-input" id="username-signup" />
  </div>
  <div>
    <label for="email-signup" class="form-label">email:</label>
    <input type="text" class="form-input" id="email-signup" />
  </div>
  <div>
    <label for="password-signup" class="form-label">password:</label>
    <input type="password" class="form-input" id="password-signup" />
  </div>
  <div>
    <button type="submit" class="btn">signup</button>
  </div>
</form>
</div>
</div>

<script src="/javascript/login.js"></script>