<div class="card">
  <div class="card-header form-title">
    <h3>Create Your Profile</h3>
  </div>
  <div class="card-body form-bg-custom">
    <form>
      <div class="form-row">
        <div class="form-group col-md-6">
          <label for="firstName">First Name</label>
          <input type="email" class="form-control" id="firstName-signup" />
        </div>
        <div class="form-group col-md-6">
          <label for="lastName">Last Name</label>
          <input type="email" class="form-control" id="lastName-signup" />
        </div>
        <div class="form-group col-md-6">
          <label for="emailInput">Email</label>
          <input type="email" class="form-control" id="email-signup" />
        </div>
        <div class="form-group col-md-6">
          <label for="passwordInput">Password</label>
          <input type="password" class="form-control" id="password-signup" />
        </div>
      </div>
      <div class="form-row">
        <div class="form-group col-md-6">
          <label for="usernameInput">Username</label>
          <input type="text" class="form-control" id="username-signup" />
        </div>
        <div class="form-group col-md-4">
          <label for="interestInput">Choose An Interest</label>
          <select id="interestInput" class="form-control">
            <option selected>Choose...</option>
            <option value="music">Music</option>
            <option value="travel">Travel</option>
            <option value="sports">Sports</option>
            <option value="fashion">Fashion</option>
            <option value="tech">Tech</option>
            <option value="food">Food</option>
          </select>
        </div>
        <fieldset class="form-group">
          <div class="form-check">
            <input
              class="form-check-input"
              type="radio"
              name="gridRadios"
              id="gridRadios1"
              value="option1"
            />
            <label class="form-check-label" for="gridRadios1">
              Hobby
            </label>
          </div>
          <div class="form-check">
            <input
              class="form-check-input"
              type="radio"
              name="gridRadios"
              id="gridRadios2"
              value="option2"
            />
            <label class="form-check-label" for="gridRadios2">
              Amateur
            </label>
          </div>
          <div class="form-check">
            <input
              class="form-check-input"
              type="radio"
              name="gridRadios"
              id="gridRadios3"
              value="option3"
            />
            <label class="form-check-label" for="gridRadios3">
              Professional
            </label>
          </div>
        </fieldset>
      </div>
      <button type="submit" class="btn btn-custom">Sign Up!</button>
    </form>
  </div>
</div>

<script src="/javascript/login.js"></script>