<div class="w3-card-4">
  <div class="w3-container w3-gray">
    <h2>Login</h2>
  </div>
  <form class="w3-container">
    <p>      
    <label class="w3-text-gray"><b>Email</b></label>
    <input class="w3-input w3-border w3-sand" id="email-signup" name="email-signup" type="text"></p>     
    <p>      
    <label class="w3-text-gray"><b>Username</b></label>
    <input class="w3-input w3-border w3-sand" id="username-signup" name="username-signup" type="text"></p>
    <p>      
    <label class="w3-text-gray"><b>Password</b></label>
    <input class="w3-input w3-border w3-sand" id="password-signup" name="password-signup" type="password"></p>
    <p>
    <button type="submit" class="w3-btn w3-gray">Sign Up!</button></p>
  </form>
</div>

<script src="/javascript/login.js"></script>